{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Import Employees{{end}}
{{define "content"}}
{{if .Msg}}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{.Msg}}
</div>
{{end}}
<a href="/employees/export?template=true">Download Template</a>
<form action="/employees/import" method="post" enctype="multipart/form-data">
	<input type="file" name="csvfile" accept="text/csv">
	<button type="submit" class="btn btn-primary">Import Employees</button>
</form>
{{end}}
