{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GPA Reportcard | Creativity Private School</title>

		<!-- Styles -->
		<link href="/static/css/html5-doctor-reset-stylesheet.min.css" rel="stylesheet">
		<link href="/static/css/gpa-reportcards.css" rel="stylesheet">
	</head>

	<body>
	<div class="gpa-reportcard">
		<div class="gpa-reportcard-header">
			<table class="gpa-reportcard-header-table">
				<tr>
					<td>
						<img src="/static/img/advanced_logo.png" alt="AdvancED Logo" class="gpa-reportcard-advanced-logo">
					</td>
					<td>
						<p class="gpa-reportcard-kob">Kingdom of Bahrain</p>
						<p class="gpa-reportcard-cps">Creativity Private School</p>
						<p class="gpa-reportcard-ot">Official Transcript</p>
					</td>
					<td>
						<img src="/static/img/cps-logo-100.png" alt="CPS Logo" class="gpa-reportcard-cps-logo">
					</td>
					<td>
						<p class="gpa-reportcard-kob-ar"> مملكة البحرين </p>
						<p class="gpa-reportcard-cps-ar"> مدرسة الإبداع الخاصة </p>
						<p class="gpa-reportcard-ot-ar"> كشف الدرجات </p>
					</td>
					<td>
					<img src="/static/img/cambridge_logo.jpg" alt="Cambridge Associate School Logo" class="gpa-reportcard-cambridge-logo">
					</td>
				</tr>
			</table>
		</div>

		<table class="gpa-student-info">
			<tr>
				<th class="gpa-info-col-1">Name:</th>
				<td class="gpa-info-col-2">{{.Name}}</td>
				<th class="gpa-info-col-3">Sex:</th>
				<td class="gpa-info-col-4">{{.Sex}}</td>
				<th class="gpa-info-col-5">CPR:</th>
				<td class="gpa-info-col-6">{{.CPR}}</td>
			</tr>
			<tr>
				<th>Nationality:</th>
				<td>{{.Nationality}}</td>
				<th>Date of Birth:</th>
				<td>{{.DOB}}</td>
				<th></th>
				<td></td>
			</tr>
		</table>

		<table class="gpa-years">
			<tr class="gpa-years-subjects">
			{{range $index, $year := .Years}}
			{{with $year}}
			<td>
				<table class="gpa-years-subjects-year">
				<thead>
					<tr class="gpa-years-subjects-year-{{$index}}">
						<th>Grade {{.Class}}</th>
						<th colspan="8">{{.SY}}</th>
					</tr>
					<tr>
						<td rowspan="2"></td>
						<th scope="col" colspan="4">Semester 1</th>
						<th scope="col" colspan="4">Semester 2</th>
					</tr>
					<tr>
						<th scope="col" class="gpa-small-col">CA</th>
						<th scope="col" class="gpa-small-col">CE</th>
						<th scope="col" class="gpa-small-col gpa-dark">AV</th>
						<th scope="col" class="gpa-small-col gpa-dark">WGP</th>
						<th scope="col" class="gpa-small-col">CA</th>
						<th scope="col" class="gpa-small-col">CE</th>
						<th scope="col" class="gpa-small-col gpa-dark">AV</th>
						<th scope="col" class="gpa-small-col gpa-dark">WGP</th>
					</tr>
				</thead>
				<tbody>
				{{range .Rows}}
					<tr>
						<th scope="row" class="gpa-subjects-subject">{{.Subject}}</th>

						{{if .S1Available}}
						<td class="gpa-xsmall-col">{{.S1CA | markTrim3}}</td>
						<td class="gpa-xsmall-col">{{.S1CE | markTrim3}}</td>
						<td class="gpa-small-col gpa-dark">{{.S1AV}}</td>
						<td class="gpa-small-col gpa-dark">{{.S1WGP | mark}}</td>
						{{else}}
						<td colspan="4" class="gpa-na-col">N/A</td>
						{{end}}

						{{if .S2Available}}
						<td class="gpa-small-col">{{.S2CA | markTrim}}</td>
						<td class="gpa-small-col">{{.S2CE | markTrim}}</td>
						<td class="gpa-small-col gpa-dark">{{.S2AV}}</td>
						<td class="gpa-small-col gpa-dark">{{.S2WGP | mark}}</td>
						{{else}}
						<td colspan="4" class="gpa-na-col">N/A</td>
						{{end}}
					</tr>
				{{end}}
				</tbody>
				</table>
			</td>
			{{end}}
			{{end}}
			</tr>
			<tr class="gpa-years-summary">
			{{range .Years}}
			<td>
				<table class="gpa-summary-table">
					<tr>
						<th scope="row">Credits Earned:</th>
						<td>{{.CreditsEarned}}</td>
					</tr>
					<tr>
						<th scope="row">Year Average:</th>
						<td>{{.YearAverage}} %</td>
					</tr>
					<tr>
						<th scope="row">GPA:</th>
						<td>{{.GPA | mark}}</td>
					</tr>
				</table>
			</td>
			{{end}}
			</tr>
		</table>

		<table class="gpa-description">
			<tr>
				<td class="gpa-abc-system">
				<table class="gpa-abc-table">
					<thead>
						<tr>
							<th scope="col" class="gpa-abc-percent">Percentage</th>
							<th scope="col" class="gpa-abc-gp">Grade Point</th>
							<th scope="col" class="gpa-abc-letter">Letter Grade</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">97 - 100</th>
							<td>4</td>
							<td>A+</td>
						</tr>
						<tr>
							<th scope="row">93 - 96</th>
							<td>4</td>
							<td>A</td>
						</tr>
						<tr>
							<th scope="row">90 - 92</th>
							<td>3.7</td>
							<td>A-</td>
						</tr>
						<tr>
							<th scope="row">87 - 89</th>
							<td>3.3</td>
							<td>B+</td>
						</tr>
						<tr>
							<th scope="row">83 - 86	</th>
							<td>3</td>
							<td>B</td>
						</tr>
						<tr>
							<th scope="row">80 - 82</th>
							<td>2.7</td>
							<td>B-</td>
						</tr>
						<tr>
							<th scope="row">77 - 79</th>
							<td>2.3</td>
							<td>C+</td>
						</tr>
						<tr>
							<th scope="row">73 - 76</th>
							<td>2</td>
							<td>C</td>
						</tr>
						<tr>
							<th scope="row">70 - 72</th>
							<td>1.7</td>
							<td>C-</td>
						</tr>
						<tr>
							<th scope="row">67 - 69</th>
							<td>1.3</td>
							<td>D+</td>
						</tr>
						<tr>
							<th scope="row">63 - 66</th>
							<td>1</td>
							<td>D</td>
						</tr>
						<tr>
							<th scope="row">60 - 62</th>
							<td>1</td>
							<td>D-</td>
						</tr>
						<tr>
							<th scope="row">59 and below</th>
							<td>0</td>
							<td>F</td>
						</tr>
					</tbody>
				</table>
				</td>
				<td class="gpa-description-center">
					<div class="gpa-acronyms-inner">
						<table>
							<tr>
								<td><b>CA:</b> Credit Attempted</td>
								<td><b>AV:</b> Annual Average</td>
							</tr>
							<tr>
								<td><b>CE:</b> Credit Earned</td>
								<td><b>WGP:</b> Grade Point</td>
							</tr>
						</table>
						<p>
							One credit is granted to a minimum of 120 hours of instruction
							or 5 periods per week
						</p>
					</div>  
					<div class="gpa-footer-school">
						Creativity Private School<br>
						Accredited by AdvancED International<br>
						A Cambridge Associate School for Cambridge International Examinations<br>
						P.O. Box 24173, Muharraq, Kingdom of Bahrain<br>
						Tel: Salmaniya (+973) 17243855|17252636; Janabiya (+973) 17600255|17600244<br>
						Fax (+973) 17243844 | Website: www.cps-bh.com | Email: cps.bh@hotmail.com<br>
					</div>
				</td>

				<td class="gpa-total-summary">
				<table class="gpa-summary-table">
					<tr>
						<th class="gpa-summary-table-title"></th>
						<th class="gpa-summary-table-value">Grade {{.IncludedClassesAll}}</th>
						<th class="gpa-summary-table-value">Grade {{.IncludedClassesSome}}</th>
					</tr>
					<tr>
						<th scope="row" class="gpa-summary-table-title">Credits to Date:</th>
						<td class="gpa-summary-table-value">{{.TotalCreditsAll | mark}}</td>
						<td class="gpa-summary-table-value">{{.TotalCreditsSome | mark}}</td>
					</tr>
					<tr>
						<th scope="row" class="gpa-summary-table-title">Cumulative GPA:</th>
						<td class="gpa-summary-table-value">{{.CumulativeGpaAll | mark}}</td>
						<td class="gpa-summary-table-value">{{.CumulativeGpaSome | mark}}</td>
					</tr>
					<tr>
						<th scope="row" class="gpa-summary-table-title">Cumulative Average:</th>
						<td class="gpa-summary-table-value">{{.CumulativeAvgAll}} %</td>
						<td class="gpa-summary-table-value">{{.CumulativeAvgSome}} %</td>
					</tr>
					<tr>
						<th scope="row" class="gpa-summary-table-title">Passed and Graduated:</th>
						<td class="gpa-summary-table-value" colspan="2"></td>
					</tr>
				</table>

				<div class="gpa-summary-upon">
					Upon successful completion of the courses in Grade 12,
					a student will earn the school's diploma which is
					recognized by the Bahrain Ministry of Education
				</div>

				<table class="gpa-principal-signature">
					<tr>
						<th>Principal's Signature </th>
						<td class="signature-line"></td>
					</tr>
					<tr>
						<td><br></td>
						<td></td>
					</tr>
					<tr>
						<th>Date Issued </th>
						<td class="signature-line"></td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
	</div>
	</body>
</html>
