{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GPA Reportcard | Creativity Private School</title>

		<!-- Styles -->
		<link href="/static/css/html5-doctor-reset-stylesheet.min.css" rel="stylesheet">
		<link href="/static/css/reportcards.css" rel="stylesheet">
	</head>

	<body>

	</body>
</html>
