{{/*
Copyright 2018 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Leave Request{{end}}
{{define "content"}}
<form class="form-horizontal" action="/leave/request/save" method="POST">
{{with .Request}}
	<input type="hidden" name="Key" value="{{if .Key}}{{.Key.Encode}}{{end}}">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="Requester">Requester</label>
		<div class="col-sm-5">
			<input type="input" id="Requester" name="Requester" class="form-control" disabled value="{{.RequesterName}}">
			<span class="help-block"></span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="Status">Status</label>
		<div class="col-sm-5">
			<input type="input" id="Status" name="Status" class="form-control" disabled value="{{.Status}}">
			<span class="help-block"></span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="StartDate">Start Date</label>
		<div class="col-sm-5">
			<input type="date" id="StartDate" name="StartDate" class="form-control"
				value="{{.StartDate | formatDate}}" {{if .Key}}disabled{{end}}
				min="{{$.MinDate | formatDate}}" required>
			<span class="help-block"></span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="Type">Type</label>
		<div class="col-sm-5">
			<select id="Type" name="Type" class="form-control cps-js-leave-type"
				{{if .Key}}disabled{{end}} required>
				<option></option>
				{{ $leaveType := .Type }}
				{{range $.LeaveTypes}}
				<option {{if equal . $leaveType}}selected{{end}}
				value="{{.Value}}">{{.}}</option>
				{{end}}
			</select>
			<span class="help-block"></span>
		</div>
	</div>
	{{if not (equal .RequesterKeyKind "student")}}
	<div class="form-group">
		<label class="col-sm-2 control-label" for="EndDate">End Date</label>
		<div class="col-sm-5">
		<input type="date" id="EndDate" name="EndDate" class="form-control"
			value="{{.EndDate | formatDate}}" {{if .Key}}disabled{{end}}
			min="{{$.MinDate | formatDate}}" required>
			<span class="help-block"></span>
		</div>
	</div>
	{{end}}
	<div class="form-group">
		<label class="col-sm-2 control-label" for="Time">Time</label>
		<div class="col-sm-5">
		<input type="time" id="Time" name="Time" class="form-control"
			value="{{.Time | formatTime}}" {{if .Key}}disabled{{end}}
			required>
			<span class="help-block"></span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="RequesterComments">Requester Comments</label>
		<div class="col-sm-10">
			<textarea id="RequesterComments" name="RequesterComments" rows="5" class="form-control"
				{{if or $.HR .Finished}}disabled{{end}} required>
				{{- .RequesterComments -}}
			</textarea>
			<span class="help-block"></span>
		</div>
	</div>
	{{if or $.HR .HRComments}}
		{{if equal .RequesterKeyKind "student"}}
		<div class="form-group">
			<label class="col-sm-2 control-label" for="Term">Term</label>
			<div class="col-sm-5">
				<select id="Term" name="Term" class="form-control cps-js-leave-type"
					{{if not $.HR}}disabled{{end}} required>
					<option></option>
					{{ $term := .Term }}
					{{range $.Terms}}
					<option {{if equal .Value $term}}selected{{end}}
					value="{{.Value}}">{{.}}</option>
					{{end}}
				</select>
				<span class="help-block"></span>
			</div>
		</div>
		{{end}}
	<div class="form-group">
		<label class="col-sm-2 control-label" for="HRComments">HR Comments</label>
		<div class="col-sm-10">
			<textarea id="HRComments" name="HRComments" rows="5" class="form-control"
				{{if or (not $.HR) .Finished}}disabled{{end}} required>
				{{- .HRComments -}}
			</textarea>
			<span class="help-block"></span>
		</div>
	</div>
	{{end}}
	<div class="form-actions">
		{{if $.HR}}
			{{if not .Finished}}
				<input type="submit" name="submit" class="btn btn-default btn-primary" value="Approve">
				<input type="submit" name="submit" class="btn btn-default btn-danger" value="Reject">
			{{else if equal .RequesterKeyKind "student"}}
				<input type="submit" name="submit" class="btn btn-default btn-primary" value="Save Term">
			{{end}}
			<a class="btn btn-default" href="/leave/allrequests">Back</a>

		{{else}}
		{{/* employees/students */}}
			{{if not .Finished}}
				<input type="submit" name="submit" class="btn btn-default btn-primary" value="Save">
				{{if .Key}}
					<input type="submit" name="submit" class="btn btn-default btn-danger are-you-sure" value="Cancel">
				{{end}}
			{{end}}
			<a class="btn btn-default" href="/leave/myrequests">Back</a>
		{{end}}
	</div>
</form>
{{end}}
{{end}}

