{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Enter Marks{{end}}
{{define "content"}}
<form class="form-inline" action="/marks">
	<div class="form-group">
		<select id="Term" name="Term" required="required" class="form-control col-md-3">
			{{$term := .Term.Value}}
			{{range .Terms}}
			<option {{if equal .Value $term}}selected="selected"{{end}}
			value="{{.Value}}">{{.}}</option>
			{{end}}
		</select>
	</div>
	<div class="form-group">
		<select id="classSection" name="ClassSection" required="required" class="form-control col-md-2">
			{{$sclass := .Class}}
			{{$ssection := .Section}}
			{{range .CG}}
			{{$class := .Class}}
			<optgroup label="{{.Class}}">
				{{range .Sections}}
				<option value="{{$class}}|{{.}}"
				{{if equal $class $sclass | and (equal . $ssection)}} selected="selected"{{end}}
				>{{$class}}{{.}}</option>
				{{end}}
			</optgroup>
			{{end}}
		</select>
	</div>
	<div class="form-group">
		<select id="Subject" name="Subject" required="required" class="form-control col-md-3">
			{{$subject := .Subject}}
			{{range .Subjects}}
			<option {{if equal . $subject}}selected="selected"{{end}}
			value="{{.}}">{{.}}</option>
			{{end}}
		</select>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-default">Go</button>
	</div>
</form>
{{if .Subject}}
{{$subject := .Subject}}
<p class="spacer"></p>
<form action="/marks/save" method="post">
	<input type="hidden" name="Term" value="{{.Term.Value}}">
	<input type="hidden" name="ClassSection" value="{{.Class}}|{{.Section}}">
	<input type="hidden" name="Subject" value="{{.Subject}}">
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th scope="col">Student Name</th>
				{{range .Cols}}
				<th scope="col">{{.Name}}</th>
				{{end}}
			</tr>
			<tr>
				<th scope="col"></th>
				{{range .Cols}}
				<th scope="col">{{.Max}}</th>
				{{end}}
			</tr>
		</thead>
		<tbody>
		{{$cols := .Cols}}
		{{range .Students}}
		{{$id := .ID}}
			<tr>
				<th scope="row">{{.Name}}</th>
				{{if equal $subject "Remarks"}}
					<td class="cps-remarks">
						<div>
							<input type="text" name="{{$id}}|0" value="{{.Remark}}"
							class="form-control">
						</div>
					</td>
				{{else}}
					{{range $i, $m := .Marks}}
					{{$c := index $cols $i}}
					<td>
						<input type="number" name="{{$id}}|{{$i}}" class="form-control input-sm cps-mark"
						min="0" max="{{$c.Max}}" step="any" value="{{mark $m}}"
						{{if not $c.Editable}}disabled="disabled"{{end}}>
					</td>
					{{end}}
				{{end}}
			</tr>
		{{else}}
			<tr class="info">
				<td>
					<p class="text-center">Subject does not apply to class.</p>
				</td>
			</tr>
		{{end}}
		</tbody>
	</table>
	<button type="submit" class="btn btn-default btn-primary">Save</button>
</form>
{{end}}
{{end}}
