{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Enter Marks{{end}}
{{define "content"}}
<form class="form-inline" action="/marks">
	<div class="form-group">
		<select id="Term" name="Term" class="form-control">
			{{$term := .Term.Value}}
			{{range .Terms}}
			<option {{if equal .Value $term}}selected="selected"{{end}}
			value="{{.Value}}">{{.}}</option>
			{{end}}
		</select>
	</div>
	<div class="form-group">
		<select id="classSection" name="ClassSection" class="form-control">
			{{$sclass := .Class}}
			{{$ssection := .Section}}
			{{range .CG}}
			{{$class := .Class}}
			<optgroup label="{{.Class}}">
				{{range .Sections}}
				<option value="{{$class}}|{{.}}"
				{{if equal $class $sclass | and (equal . $ssection)}} selected="selected"{{end}}
				>{{$class}}{{.}}</option>
				{{end}}
			</optgroup>
			{{end}}
		</select>
	</div>
	<div class="form-group">
		<select id="Subject" name="Subject" class="form-control">
			{{$subject := .Subject}}
			{{range .Subjects}}
			<option {{if equal . $subject}}selected="selected"{{end}}
			value="{{.}}">{{.}}</option>
			{{end}}
		</select>
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-default hidden-print" value="Go">
	</div>
</form>
{{if .Subject}}
{{$subject := .Subject}}
<p class="spacer"></p>
<form action="/marks/save" method="post">
	<input type="hidden" name="Term" value="{{.Term.Value}}">
	<input type="hidden" name="ClassSection" value="{{.Class}}|{{.Section}}">
	<input type="hidden" name="Subject" value="{{.Subject}}">
	<h2>Current Subject: <b>{{.SubjectDisplayName}}</b></h2>
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th scope="col">Student Name</th>
				{{range .Cols}}
				<th scope="col">{{.Name}}</th>
				{{end}}
			</tr>
			<tr>
				<th scope="col">
					<a class="btn btn-default btn-xs hidden-print" href="/marks?Term={{.Term.Value}}&ClassSection={{.Class}}|{{.Section}}&Subject={{.Subject}}&sort=true">(sort)</a>
				</th>
				{{range .Cols}}
				<th scope="col">{{maxAndWeight .Max .FinalWeight}}</th>
				{{end}}
			</tr>
		</thead>
		<tbody>
		{{$cols := .Cols}}
		{{range .Students}}
		{{$id := .ID}}
			<tr>
				<th scope="row">
					<input type="text" class="cps-student-name" value="{{.Name}}" readonly="readonly">
				</th>
				{{if equal $subject "Remarks"}}
					<td class="cps-remarks">
						<div>
							<input type="text" name="{{$id}}|0" value="{{.Remark}}"
							class="form-control input-sm cps-grid">
						</div>
					</td>
				{{else}}
					{{range $i, $m := .Marks}}
					{{$c := index $cols $i}}
					<td>
						<input type="number" name="{{$id}}|{{$i}}" class="form-control input-sm cps-mark cps-grid"
						min="0" max="{{$c.Max}}" step="any" value="{{mark $m}}"
						{{if not $c.Editable}}disabled="disabled"{{end}}>
					</td>
					{{end}}
				{{end}}
			</tr>
		{{else}}
			<tr class="info">
				<td>
					<p class="text-center">Subject does not apply to class.</p>
				</td>
			</tr>
		{{end}}
		</tbody>
	</table>
	<input type="submit" class="btn btn-default btn-primary hidden-print" value="Save">
</form>
<div class="hidden-print">
	<h2>Export/Import</h2>
	<a class="btn btn-default" href="/marks/export?Term={{.Term.Value}}&ClassSection={{.Class}}|{{.Section}}&Subject={{.Subject}}">Export Marks</a>
	<form class="form-inline spacer" action="/marks/import" method="post" enctype="multipart/form-data">
		<input type="hidden" name="Term" value="{{.Term.Value}}">
		<input type="hidden" name="ClassSection" value="{{.Class}}|{{.Section}}">
		<input type="hidden" name="Subject" value="{{.Subject}}">
		<div class="form-group">
			<input type="file" name="csvfile" accept="text/csv" class="form-control">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-default">Import Marks</button>
		</div>
	</form>
	<div class="spacer"></div>
</div>
{{end}}
{{end}}
