{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Print All Marks{{end}}
{{define "content"}}
<form class="form-inline" action="/printallmarks">
	<div class="form-group">
		<select id="classSection" name="ClassSection" class="form-control">
			<option value="all">All classes</option>
			{{$cs := .ClassSection}}
			{{range .CG}}
			{{$class := .Class}}
			<optgroup label="{{.Class}}">
				{{if (not (equal (len .Sections) 1))}}
				<option value="{{.Class}}|"
				{{if equal $cs (printf "%s|%s" $class "")}} selected="selected"{{end}}
				>{{$class}}</option>
				{{end}}
				{{range .Sections}}
				<option value="{{$class}}|{{.}}"
				{{if equal $cs (printf "%s|%s" $class .)}} selected="selected"{{end}}
				>{{$class}}{{.}}</option>
				{{end}}
			</optgroup>
			{{end}}
		</select>
	</div>
	<div class="form-group">
		<select id="Term" name="Term" class="form-control">
			{{$term := .Term.Value}}
			{{range .Terms}}
			<option {{if equal .Value $term}}selected="selected"{{end}}
			value="{{.Value}}">{{.}}</option>
			{{end}}
		</select>
	</div>
	<div class="form-group">
		<select id="Subject" name="Subject" class="form-control">
			{{$subject := .Subject}}
			{{range .Subjects}}
				<option {{if equal . $subject}}selected="selected"{{end}}
				value="{{.}}">{{.}}</option>
			{{end}}
		</select>
	</div>
	<div class="checkbox hidden-print">
		<label>
			<input type="checkbox" name="Sort" {{if .Sort}}checked="checked"{{end}}>
			Sort according to marks
		</label>
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-default hidden-print" value="Go">
	</div>
</form>
{{if .Subject}}
{{$subject := .Subject}}
<p class="spacer"></p>
<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th scope="col">Class</th>
			<th scope="col">Student Name</th>
			{{range .Cols}}
			<th scope="col">{{.Name}}</th>
			{{end}}
		</tr>
		<tr>
			<th scope="col"></th>
			<th scope="col"></th>
			{{range .Cols}}
			<th scope="col">{{maxAndWeight .Max .FinalWeight}}</th>
			{{end}}
		</tr>
	</thead>
	<tbody>
	{{$cols := .Cols}}
	{{range .Students}}
		<tr>
			<td>{{.ClassSection}}</td>
			<th scope="row">
				<input type="text" class="cps-student-name" value="{{.Name}}" readonly="readonly">
			</th>
			{{$len := len .Marks}}
			{{range $i, $m := .Marks}}
			<td class="{{if and (last $i $len) (le $m 70.0)}}low-mark{{end}}">
				{{mark $m}}
			</td>
			{{end}}
		</tr>
	{{end}}
	</tbody>
</table>
{{end}}
{{end}}

