{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}View Reportcard{{end}}
{{define "content"}}
<form class="form-inline" action="/reportcard">
	<div class="form-group">
		<select id="Term" name="Term" required="required" class="form-control col-md-3">
			{{$term := .Term.Value}}
			{{range .Terms}}
			<option {{if equal .Value $term}}selected="selected"{{end}}
			value="{{.Value}}">{{.}}</option>
			{{end}}
		</select>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-default">Go</button>
	</div>
</form>
{{if .Published}}
<h1>{{.Term}} Reportcard</h1>
<p><strong>Student Name:</strong> {{.Name}}</p>
<p><strong>Class:</strong> {{.Class}}{{.Section}}</p>

<div>
	<h2>Academic Achievement</h2>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col">Subject</th>
				<th scope="col">Mark (100%)</th>
				<th scope="col">Grade</th>
			</tr>
		</thead>
		<tbody>
		{{range .SubjectRows}}
			<tr class="active cps-subject-row" data-subject="{{hyphens .Subject}}">
				<th scope="row">{{.Subject}}</th>
				<td>{{if .InAverage}}{{mark .Mark}}{{else}}-{{end}}</td>
				<td>{{.Letter}}</td>
			</tr>
			<tr class="cps-subject-details" id="{{hyphens .Subject}}-details">
				<td colspan="3" >
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				{{range .DetailsCols}}
				<th scope="col">{{.Name}}</th>
				{{end}}
			</tr>
			<tr>
				{{range .DetailsCols}}
				<th scope="col">{{.Max}}</th>
				{{end}}
			</tr>
		</thead>
		<tbody>
			<tr>
				{{$cols := .DetailsCols}}
				{{range $i, $m := .DetailsMarks}}
				{{$c := index $cols $i}}
				<td>
					<span class="{{if not $c.Editable}}label label-info{{end}}">
						{{mark $m}}
					<span>
				</td>
				{{end}}
			</tr>
		</table>
				</td>
			</tr>
		{{end}}
			<tr>
				<th scope="row">Average mark</th>
				<td>{{mark .Average}}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<p>{{.LetterDesc}}</p>
</div>
<div>
	<h2>Behavior</h2>
	<table class="table table-bordered table-condensed">
		<tbody>
		{{$descriptions := .BehaviorDesc}}
		{{range $i, $beh := .Behavior}}
			<tr>
				<td>{{(index $descriptions $i).Name}}</td>
				<td>{{mark $beh}}</td>
			</tr>
		{{end}}
		</tbody>
	</table>
</div>
<div>
	<h2>Remarks</h2>
	<p>{{.Remark}}</p>
</div>
{{else}}
	{{/* TODO: message if not published */}}
{{end}}
{{end}}
