{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Print Reportcards{{end}}
{{define "content"}}
<form class="form-inline" action="/reportcards/print">
	<div class="form-group">
		<select id="Term" name="Term" required="required" class="form-control col-sm-3">
			{{range .Terms}}
			<option value="{{.Value}}">{{.}}</option>
			{{end}}
		</select>
	</div>
	<div class="form-group">
		<select id="classSection" name="ClassSection" required="required" class="form-control col-sm-2">
			{{range .CG}}
			{{$class := .Class}}
			<optgroup label="{{.Class}}">
				{{range .Sections}}
				<option value="{{$class}}|{{.}}">{{$class}}{{.}}</option>
				{{end}}
			</optgroup>
			{{end}}
		</select>
	</div>
	<div class="checkbox hidden-print">
		<label>
			<input type="checkbox" name="CalculateAll">
			Calculate all subjects in the average
		</label>
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-default" value="Go">
	</div>
</form>
{{end}}
