{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Settings{{end}}
{{define "content"}}
<form  action="/settings/saveschoolyear" method="POST">
	<fieldset>
		<legend>School Year</legend>
		<div class="form-inline">
			<div class="form-group">
				<select name="sy" class="form-control">
					{{range .SchoolYears}}
					<option {{if equal . $.SY}}selected="selected"{{end}}>
						{{.}}
					</option>
					{{end}}
				</select>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default" value="Save">
			</div>
		</div>
	</fieldset>
</form>
<div class="spacer">
<form  action="/settings/savesections" method="POST">
	</div>
	<fieldset>
		<legend>Sections Up To</legend>
		<table>
		{{$sectionChoices := .SectionChoices}}
		{{range .MaxSections}}
		<tr>
			<th>
				<label for="sections-{{.Class}}">Grade {{.Class}}:</label>
			</th>
			<td>
				<select id="class" id="sections-{{.Class}}"
					name="sections-{{.Class}}" class="form-control">
					{{$currentMaxSection := .Section}}
					{{range $sectionChoices}}
					<option {{if equal . $currentMaxSection}}selected="selected"{{end}}>
						{{.}}
					</option>
					{{end}}
				</select>
			</td>
		</tr>
		{{end}}
		</table>
	</fieldset>
	<div>
		<input type="submit" class="btn btn-default" value="Save">
	</div>
</form>
<div class="spacer">
<form  action="/settings/addclass" method="POST">
	<fieldset>
		<legend>Add class</legend>
		<div class="form-inline">
			<div class="form-group">
				<input type="text" name="class" class="form-control" placeholder="Class name" required="required">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default" value="Add">
			</div>
		</div>
	</fieldset>
</div>
</form>
<div class="spacer">
	<form  action="/settings/addschoolyear" method="POST" onsubmit="confirm('Are you sure you want to add school year {{.NextSchoolYear}}?')">
	<fieldset>
		<legend>Add school year</legend>
		<div class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" value="{{.NextSchoolYear}}" readonly="readonly">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default" value="Add">
			</div>
		</div>
	</fieldset>
</div>
</form>
<div class="spacer">
</div>
{{end}}

