{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Settings{{end}}
{{define "content"}}
<form  action="/settings/access" method="POST">
	<fieldset>
		<legend>Access</legend>
		<div class="form-inline">
			<div class="form-group">
				<label>Access to staff</label>
			</div>
			<table class="table table-bordered">
				<tr>
					<th>Full access (unchecked = Maintenance mode)</th>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="staff-access"
							{{if .StaffAccess}}checked="checked"{{end}}>
					</td>
				</tr>
			</table>
		</div>
		<div class="form-inline">
			<div class="form-group">
				<label>Access to students</label>
			</div>
			<table class="table table-bordered">
				<tr>
					{{range .Terms}}
					<th scope="col">{{.}}</th>
					{{end}}
				</tr>
				<tr>
					{{range .Terms}}
					<td>
						<input type="checkbox" name="student-access-{{.Value}}"
							{{if index $.StudentAccess .}}checked="checked"{{end}}>
					</td>
					{{end}}
				</tr>
			</table>
		</div>
		<div>
			<input type="submit" class="btn btn-default" value="Save">
		</div>
	</fieldset>
</form>
<div class="spacer">
</div>
<form  action="/settings/saveschoolyear" method="POST">
	<fieldset>
		<legend>School Year</legend>
		<div class="form-inline">
			<div class="form-group">
				<select name="sy" class="form-control">
					{{range .SchoolYears}}
					<option {{if equal . $.SY}}selected="selected"{{end}}>
						{{.}}
					</option>
					{{end}}
				</select>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default are-you-sure" value="Save">
			</div>
		</div>
	</fieldset>
</form>
<div class="spacer">
</div>
<form  action="/settings/addschoolyear" method="POST">
	<fieldset>
		<legend>Add school year</legend>
		<div class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" value="{{.NextSchoolYear}}" readonly="readonly">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default are-you-sure" value="Add">
			</div>
		</div>
	</fieldset>
</form>
<div class="spacer">
</div>
<form  action="/settings/savesections" method="POST">
	<fieldset>
		<legend>Classes</legend>
		<table>
		<thead>
			<th scope="col">Class</th>
			<th scope="col">Sections up to</th>
			<th scope="col">Letter system</th>
			<th scope="col">Quarter weight</th>
			<th scope="col">Ignore in Total GPA</th>
		</thead>
		<tbody>
		{{range .ClassSettings}}
		<tr>
			<th scope="row">
				Grade {{.Class}}:
			</th>
			<td>
				<select id="sections-{{.Class}}"
					name="sections-{{.Class}}" class="form-control">
					{{$currentMaxSection := .MaxSection}}
					{{range $.SectionChoices}}
					<option {{if equal . $currentMaxSection}}selected="selected"{{end}}>
						{{.}}
					</option>
					{{end}}
				</select>
			</td>
			<td>
				<select id="letter-system-{{.Class}}"
					name="letter-system-{{.Class}}" class="form-control">
					{{$currentLetterSystem := .LetterSystem}}
					{{range $.LetterSystemChoices}}
					<option {{if equal . $currentLetterSystem}}selected="selected"{{end}}>
						{{.}}
					</option>
					{{end}}
				</select>
			</td>
			<td>
				<input type="number" name="quarter-weight-{{.Class}}"
			   		class="form-control" required="required"
					min="0" max="50" step="any" value="{{.QuarterWeight}}">
			</td>
			<td style="text-align:center">
				<input type="checkbox" name="ignore-in-total-gpa-{{.Class}}"
				{{if .IgnoreInTotalGPA}}checked="checked"{{end}}>
			</td>
		</tr>
		{{end}}
		</tbody>
		</table>
	</fieldset>
	<div>
		<input type="submit" class="btn btn-default" value="Save">
	</div>
</form>
<div class="spacer">
</div>
<form action="/settings/addclass" method="POST">
	<fieldset>
		<legend>Add class</legend>
		<div class="form-inline">
			<div class="form-group">
				<input type="text" name="class" class="form-control" placeholder="Class name" required="required">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default are-you-sure" value="Add">
			</div>
		</div>
	</fieldset>
</form>
<div class="spacer">
</div>
<fieldset>
	<legend>Subjects</legend>
	<table>
	{{range .Subjects}}
		<tr>
			<th>{{.}}</th>
			<td>
				<form action="/settings/deletesubject" method="POST">
					<input type="hidden" name="subject" value="{{.}}">
					<input type="submit" class="btn btn-default btn-sm are-you-sure" value="delete">
				</form>
			</td>
		</tr>
	{{end}}
	</table>
	<br>
	<form action="/settings/addsubject" method="POST">
		<div class="form-inline">
			<div class="form-group">
				<input type="text" name="subject" class="form-control" placeholder="Subject name" required="required">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default" value="Add subject">
			</div>
		</div>
	</form>
</fieldset>
<div class="spacer">
</div>
{{end}}

