{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Students{{end}}
{{define "content"}}
<form class="form-inline" action="/students">
	<select id="enabled" name="enabled" class="span2">
		<option value="">Enabled</option>
		<option value="no"
		{{if equal .Enabled "no"}}selected="selected"{{end}}>Disabled</option>
	</select>
	<select id="classSection" name="classsection" class="span2">
		<option value="all">All classes</option>
		{{$cs := .ClassSection}}
		{{range .CG}}
		{{$class := .Class}}
		<optgroup label="{{.Class}}">
			{{if (not (equal (len .Sections) 1))}}
			<option value="{{.Class}}|"
			{{if equal $cs (printf "%s|%s" $class "")}} selected="selected"{{end}}
			>{{$class}}</option>
			{{end}}
			{{range .Sections}}
			<option value="{{$class}}|{{.}}"
			{{if equal $cs (printf "%s|%s" $class .)}} selected="selected"{{end}}
			>{{$class}}{{.}}</option>
			{{end}}
		</optgroup>
		{{end}}
	</select>
	<button type="submit" class="btn">Filter</button>
</form>
<p>
	<a class="btn btn-primary btn-large" href="/students/details?id=new">Add Student</a>
</p>
<div>
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th scope="col">Student ID</th>
				<th scope="col">Student Name</th>
				<th scope="col">Class</th>
				<th scope="col">Options</th>
			</tr>
		</thead>
		<tbody>
			{{range .S}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Name}}</td>
				<td>{{.Class}}{{.Section}}</td>
				<td><a class="btn btn-small" href="/students/details?id={{.ID}}">Edit</a></td>
			</tr>
			{{else}}
			<tr class="info">
				<td colspan="4"><p class="text-center">No students found.</p></td>
			</tr>
			{{end}}
		</tbody>
	</table>
	<div>
		<a class="btn" href="/students/import">Import Students</a>
		<a class="btn" href="/students/export?enabled={{.Enabled}}&classsection={{.ClassSection}}">Export Students</a>
	</div>
</div>
{{end}}
