{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Student Details{{end}}
{{define "content"}}
<form class="form-horizontal" action="/students/save" method="POST">
	<fieldset>
		<legend>Student Details</legend>
		<div class="control-group">
			<label class="control-label" for="studentID">Student ID</label>
			<div class="controls">
				<input readonly="readonly" type="text" id="studentID" name="ID" value="{{.S.ID}}">
				<span class="help-inline">Created automatically.</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="Enabled">Enabled</label>
			<div class="controls">
				<input type="checkbox" id="Enabled" name="Enabled"
					{{if .S.Enabled}}checked="checked"{{end}}>
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="studentName">Student Name*</label>
			<div class="controls">
				<input type="text" id="studentName" name="Name" value="{{.S.Name}}" required="required">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="arabicName">Student Name in Arabic</label>
			<div class="controls">
				<input type="text" id="arabicName" name="ArabicName" value="{{.S.ArabicName}}">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="Gender">Gender</label>
			<div class="controls">
				<select id="Gender" name="Gender">
					<option></option>
					<option value="M"
					{{if equal .S.Gender "M"}}selected="selected"{{end}}
					>Male</option>
					<option value="F"
					{{if equal .S.Gender "F"}}selected="selected"{{end}}
					>Female</option>
				</select>
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="classSection">Class*</label>
			<div class="controls">
				<select id="classSection" name="ClassSection" required="required" pattern="^.+$">
					<option></option>
					{{$sclass := .S.Class}}
					{{$ssection := .S.Section}}
					{{range .CG}}
					{{$class := .Class}}
					<optgroup label="{{.Class}}">
						{{range .Sections}}
						<option value="{{$class}}|{{.}}"
						{{if equal $class $sclass | and (equal . $ssection)}} selected="selected"{{end}}
						>{{$class}}{{.}}</option>
						{{end}}
					</optgroup>
					{{end}}
				</select>
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="dateOfBirth">Date of Birth*</label>
			<div class="controls">
				<input type="date" id="dateOfBirth" name="DateOfBirth" value="{{.S.DateOfBirth | formatDate}}"
					required="required">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="Nationality">Nationality*</label>
			<div class="controls">
				<select id="Nationality" name="Nationality">
					<option></option>
					{{$country := .S.Nationality}}
					{{range .C}}
					<option {{if equal . $country}}selected="selected"{{end}}
					value="{{.}}">{{.}}</option>
					{{end}}
				</select>
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="CPR">CPR Number*</label>
			<div class="controls">
				<input type="text" id="CPR" name="CPR" required="required"
					pattern="^[0-9]{9}$" value="{{.S.CPR}}">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="Passport">Passport Number</label>
			<div class="controls">
				<input type="text" id="Passport" name="Passport" value="{{.S.Passport}}">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="ParentInfo">Parent Information</label>
			<div class="controls">
				<textarea id="ParentInfo" name="ParentInfo" rows="5">{{.S.ParentInfo}}</textarea>
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="EmergencyPhone">Emergency Phone Number</label>
			<div class="controls">
				<input type="tel" id="EmergencyPhone" name="EmergencyPhone" value="{{.S.EmergencyPhone}}">
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="HealthInfo">Health Information</label>
			<div class="controls">
				<textarea id="HealthInfo" name="HealthInfo" rows="5">{{.S.HealthInfo}}</textarea>
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="Comments">Comments</label>
			<div class="controls">
				<textarea id="Comments" name="Comments" rows="5">{{.S.Comments}}</textarea>
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Save</button>
			<button type="button" class="btn cps-go-back">Cancel</button>
		</div>
	</fieldset>
</form>
{{end}}
