{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Student Details{{end}}
{{define "content"}}
<form class="form-horizontal" action="/students/save" method="POST">
	<fieldset>
		<legend>Student Details</legend>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="studentID">Student ID</label>
			<div class="col-sm-5">
				<input readonly="readonly" type="text" id="studentID" name="ID" value="{{.S.ID}}" class="form-control">
				<span class="help-block">Created automatically.</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="studentName">Student Name*</label>
			<div class="col-sm-5">
				<input type="text" id="studentName" name="Name" value="{{.S.Name}}" required="required" class="form-control">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="arabicName">Student Name in Arabic</label>
			<div class="col-sm-5">
				<input type="text" id="arabicName" name="ArabicName" value="{{.S.ArabicName}}" class="form-control">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="Gender">Gender</label>
			<div class="col-sm-5">
				<select id="Gender" name="Gender" class="form-control">
					<option></option>
					<option value="M"
					{{if equal .S.Gender "M"}}selected="selected"{{end}}
					>Male</option>
					<option value="F"
					{{if equal .S.Gender "F"}}selected="selected"{{end}}
					>Female</option>
				</select>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="classSection">Class</label>
			<div class="col-sm-5">
				<table>
				{{range .SYs}}
				{{$sy := .}}
				<tr>
					<th>{{.}}</th>
					<td>
					<select name="ClassSection-{{.}}" class="form-control">
						<option value="">Unassigned</option>
						{{range (index $.CGs .)}}
						{{$class := .Class}}
						<optgroup label="{{.Class}}">
							{{range .Sections}}
							<option value="{{$class}}|{{.}}"
							{{if equal (printf "%s|%s" $class .) (index $.SC $sy)}} selected="selected"{{end}}
							>{{$class}}{{.}}</option>
							{{end}}
						</optgroup>
						{{end}}
					</select>
					</td>
				</tr>
				{{end}}
				</table>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="dateOfBirth">Date of Birth</label>
			<div class="col-sm-5">
				<input type="date" id="dateOfBirth" name="DateOfBirth" value="{{.S.DateOfBirth | formatDate}}"
					class="form-control">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="Nationality">Nationality</label>
			<div class="col-sm-5">
				<select id="Nationality" name="Nationality" class="form-control">
					<option></option>
					{{$country := .S.Nationality}}
					{{range .C}}
					<option {{if equal . $country}}selected="selected"{{end}}
					value="{{.}}">{{.}}</option>
					{{end}}
				</select>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="CPR">CPR Number</label>
			<div class="col-sm-5">
				<input type="text" id="CPR" name="CPR" 
					pattern="^[0-9]{9}$" value="{{.S.CPR}}" class="form-control">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="Passport">Passport Number</label>
			<div class="col-sm-5">
				<input type="text" id="Passport" name="Passport" value="{{.S.Passport}}" class="form-control">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ParentInfo">Parent Information</label>
			<div class="col-sm-5">
				<textarea id="ParentInfo" name="ParentInfo" rows="5" class="form-control">{{.S.ParentInfo}}</textarea>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="EmergencyPhone">Emergency Phone Number</label>
			<div class="col-sm-5">
				<input type="tel" id="EmergencyPhone" name="EmergencyPhone" value="{{.S.EmergencyPhone}}" class="form-control">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="HealthInfo">Health Information</label>
			<div class="col-sm-5">
				<textarea id="HealthInfo" name="HealthInfo" rows="5" class="form-control">{{.S.HealthInfo}}</textarea>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="Comments">Comments</label>
			<div class="col-sm-5">
				<textarea id="Comments" name="Comments" rows="5" class="form-control">{{.S.Comments}}</textarea>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-actions">
			<input type="submit" class="btn btn-default btn-primary" value="Save">
			<input type="button" class="btn btn-default cps-go-back" value="Cancel">
		</div>
	</fieldset>
</form>
{{end}}
