{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Upload Documents{{end}}
{{define "content"}}
<form class="form-inline" action="{{.UploadURL}}" method="POST" enctype="multipart/form-data">
	<fieldset>
		<legend>Upload new document</legend>
		<div class="form-group">
			<select id="class" name="class" class="form-control">
				<option value="">All classes</option>
				{{range .Classes}}
				<option>{{.}}</option>
				{{end}}
			</select>
		</div>
		<div class="form-group">
			<input type="text" id="title" name="title" class="form-control" placeholder="Title">
		</div>
		<div class="form-group">
			<input type="file" name="file" class="form-control" required="required">
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-default" value="Upload document">
		</div>
	</fieldset>
</form>
<div class="spacer">
</div>
<form class="form-inline" action="/upload/link" method="POST">
	<fieldset>
		<legend>Submit a link to a document</legend>
		<div class="form-group">
			<select id="class" name="class" class="form-control">
				<option value="">All classes</option>
				{{range .Classes}}
				<option>{{.}}</option>
				{{end}}
			</select>
		</div>
		<div class="form-group">
			<input type="text" id="title" name="title" class="form-control" placeholder="Title" required="required">
		</div>
		<div class="form-group">
			<input type="url" name="url" class="form-control" placeholder="http://" required="required">
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-default" value="Submit link">
		</div>
	</fieldset>
</form>
<div class="spacer">
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th scope="col">Upload Date</th>
				<th scope="col">Class</th>
				<th scope="col">Title</th>
				<th scope="col">Options</th>
			</tr>
		</thead>
		<tbody>
			{{range .Documents}}
			<tr>
				<td>{{formatDateHuman .UploadDate}}</td>
				<td>{{if .Class}}{{.Class}}{{else}}All{{end}}</td>
				<td>{{.Title}}</td>
				<td>
					<form action="/upload/delete" method="POST" class="form-inline">
					<a class="btn btn-default btn-sm"
					{{if equal .URL ""}}
						href="/download/{{.Filename}}?blobKey={{.BlobKey}}"
					{{else}}
						href="{{.URL}}"
					{{end}}
						>Download</a>
						<input type="hidden" name="key" value="{{.Key.IntID}}">
						<input type="submit"
						class="btn btn-danger btn-sm hidden-print are-you-sure" value="Delete">
					</form>
				</td>
			</tr>
			{{else}}
			<tr class="info">
				<td colspan="4"><p class="text-center">No documents found.</p></td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
{{end}}

