{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Upload Documents{{end}}
{{define "content"}}
<form class="form-inline" action="{{.UploadURL}}" method="POST" enctype="multipart/form-data">
	<fieldset>
		<legend>Upload new document</legend>
		<select id="class" name="class" class="span2">
			<option value="">All classes</option>
			{{range .Classes}}
			<option>{{.}}</option>
			{{end}}
		</select>
		<label for="title">Title:</label>
		<input type="text" id="title" name="title">
		<input type="file" name="file">
		<button type="submit" class="btn">Upload document</button>
	</fieldset>
</form>
<div>
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th scope="col">Upload Date</th>
				<th scope="col">Class</th>
				<th scope="col">Title</th>
				<th scope="col">Options</th>
			</tr>
		</thead>
		<tbody>
			{{range .Documents}}
			<tr>
				<td>{{formatDate .UploadDate}}</td>
				<td>{{if .Class}}{{.Class}}{{else}}All{{end}}</td>
				<td>{{.Title}}</td>
				<td><a class="btn btn-small" href="/download?file={{.BlobKey}}">Download</a></td>
			</tr>
			{{else}}
			<tr class="info">
				<td colspan="4"><p class="text-center">No documents found.</p></td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
{{end}}

