{{/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/}}

{{define "title"}}Daily Log{{end}}
{{define "content"}}
{{with .Dailylog}}
<form class="form-horizontal">
	<fieldset>
		<legend>Daily Log for {{formatDateHuman .Date}}</legend>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="Behavior">Behavior</label>
			<div class="col-sm-5">
				<textarea readonly="readonly" id="Behavior" rows="5" class="form-control">{{.Behavior}}</textarea>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="Attendance">Attendance</label>
			<div class="col-sm-5">
				<input type="text" readonly="readonly" id="Attendance" value="{{.Attendance}}" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="Details">Details/Excuse</label>
			<div class="col-sm-5">
				<textarea id="Details" readonly="readonly" rows="5" class="form-control">{{.Details}}</textarea>
				<span class="help-block"></span>
			</div>
		</div>
	</fieldset>
</form>
{{end}}
{{end}}

