/*
Copyright 2013 Ibrahim Ghazal. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

/* disable spinner on <input type="number"> */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cps-mark {
	width: 43px;
	padding-right: 5px;
	padding-left: 5px;
}

.spacer {
    margin-top: 40px;
}
