@page {
	size: A4 landscape;
	margin-top: 0.4cm;
	margin-bottom: 0.4cm;
	margin-left: 0.5cm;
	margin-right: 0.5cm;
}

.gpa-reportcard:first-child {
	page-break-before: auto;
}

.gpa-reportcard {
	background-image: url("/static/img/cps-logo-10.png") !important;
	background-repeat: no-repeat !important;
	background-position: 50% 50% !important;
	background-size: contain !important;

	page-break-before: always;
	clear: both;

	width: 100%;

	font-family: "Times New Roman", Serif;
}

@media print {
	.gpa-reportcard {
		min-height: 184mm;
	}
}

.gpa-reportcard .gpa-reportcard-expand {
	height: 100%;
}

.gpa-reportcard .gpa-reportcard-expand .gpa-reportcard-expand-spacer {
	height: 10%;
}

.gpa-reportcard-header .gpa-reportcard-header-table {
	width: 100%;
	table-layout: fixed;
	height: 33mm
}

.gpa-reportcard-header .gpa-reportcard-header-table td {
	text-align: center;
	vertical-align: middle;
}

.gpa-reportcard-cps-logo {
	height: 94px;
}

.gpa-reportcard-advanced-logo {
	width: 120px;
	top: 5mm;
}

.gpa-reportcard-cambridge-logo {
	width: 140px;
	top: 7mm;
}

p.gpa-reportcard-kob,
p.gpa-reportcard-ot,
p.gpa-reportcard-kob-ar,
p.gpa-reportcard-ot-ar {
	font-size: medium;
}

p.gpa-reportcard-cps,
p.gpa-reportcard-cps-ar {
	font-size: large;
}

.gpa-student-info {
	width: 100%;
}

.gpa-student-info th,
.gpa-student-info td {
	font-size: small;
	padding: 0.5mm;
}

.gpa-student-info th {
	text-align: right;
}

.gpa-student-info .gpa-info-col-1,
.gpa-student-info .gpa-info-col-3,
.gpa-student-info .gpa-info-col-5 {
	width: 7%;
}

.gpa-student-info .gpa-info-col-2 {
	width: 30%;
}

.gpa-student-info .gpa-info-col-4 {
	width: 8%;
}

.gpa-student-info .gpa-info-col-6 {
	width: 11%;
}

.gpa-student-info .gpa-info-col-7 {
	width: 15%;
}

.gpa-student-info .gpa-info-col-8 {
	width: 15%;
}

.gpa-years {
	/*height: 98mm;*/
}


.gpa-years,
.gpa-years .gpa-years-subjects,
.gpa-years .gpa-years-summary {
	width: 100%;
}

table.gpa-years {
	table-layout: fixed;
}

.gpa-years-summary .gpa-summary-table {
	border: solid 1px black;
	border-top: none;
}

.gpa-years-subjects > td,
.gpa-years-summary > td {
	padding-right: 1mm;
	padding-left: 1mm;
}

.gpa-years .gpa-years-subjects .gpa-years-subjects-year {
	width: 100%;
	height: 85mm;
}

.gpa-years .gpa-years-subjects .gpa-years-subjects-year .gpa-years-subjects-year-0 {
	background-color: #dbe2c0;
}

.gpa-years .gpa-years-subjects .gpa-years-subjects-year .gpa-years-subjects-year-1 {
	background-color: #fffe97;
}

.gpa-years .gpa-years-subjects .gpa-years-subjects-year .gpa-years-subjects-year-2 {
	background-color: #b3ceeb;
}

.gpa-years .gpa-years-subjects .gpa-years-subjects-year .gpa-years-subjects-year-3 {
	background-color: #e6babb;
}

.gpa-years .gpa-years-subjects {
	font-size: 11px;
}

.gpa-years .gpa-years-subjects-year td,
.gpa-years .gpa-years-subjects-year th {
	border: solid 1px black;
}


.gpa-years-subjects-year .gpa-subjects-subject {
	text-align: left;
	vertical-align: middle;
	padding-left: 1mm;
}
 
.gpa-years-subjects-year .gpa-small-col {
	width: 7%;
	text-align: center;
	vertical-align: middle;
}

.gpa-years-subjects-year .gpa-medium-col {
	width: 8%;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
}

.gpa-years-subjects-year .gpa-xsmall-col {
	width: 7%;
	text-align: center;
	vertical-align: middle;
	font-size: 9px;
}

.gpa-years-subjects-year .gpa-na-col {
	text-align: center;
	font-size: x-small;
	background: #dddddd;
	vertical-align: middle;
}

.gpa-years-subjects-year .gpa-dark {
	background: #dddddd;
}

.gpa-years-subjects-year .gpa-red {
	color: #ff0000;
}

.gpa-years .gpa-years-summary {
	height: 14mm;
}

.gpa-years-summary .gpa-summary-table {
	width: 100%;
}

.gpa-summary-table tr:first-child td {
	padding-top: 1mm;
}

.gpa-summary-table td,
.gpa-summary-table th {
	text-align: left;
	font-size: small;
	padding: 0mm;
	padding-left: 1mm;
}

.gpa-summary-table th {
	width: 0%;
}

.gpa-total-summary .gpa-summary-table {
	width: 100%;
	border: solid 2px black;
}

.gpa-total-summary .gpa-summary-table .gpa-summary-table-title {
	width: 46%;
}

.gpa-total-summary .gpa-summary-table .gpa-summary-table-value {
	width: 27%;
	text-align: center;
}

.gpa-total-summary .gpa-summary-table th.gpa-summary-table-value {
	font-size: 8px;
}

.gpa-total-summary .gpa-summary-table td,
.gpa-total-summary .gpa-summary-table th {
	font-size: 10px;
	border: solid 1px black;
	padding-top: 0.5mm;
}

.gpa-description {
	width: 100%;
}

.gpa-description .gpa-abc-system {
	width: 25%;
	padding: 1mm;
	padding-bottom: 0;
	font-size: small;
}

.gpa-description .gpa-description-center {
	width: 50%;
	padding: 1mm;
	padding-bottom: 0;
	text-align: center;
	font-size: small;
}

.gpa-description .gpa-total-summary {
	width: 25%;
	padding: 1mm;
	padding-bottom: 0;
	text-align: center;
	font-size: small;
}

.gpa-description .gpa-acronyms-inner {
	margin-right: auto;
	margin-left: auto;
	border: solid 2px black;
	width: 50%;
	font-size: 10px;
}

.gpa-description .gpa-acronyms-inner table {
	width: 98%;
	text-align: left;
}

.gpa-description .gpa-acronyms-inner table tr:first-child td {
	padding-top: 1mm;
}

.gpa-description .gpa-acronyms-inner table td {
	padding-left: 1mm
}

.gpa-description .gpa-acronyms-inner p {
	text-align: center;
}

.gpa-description .gpa-footer-school {
	text-align: center;
	vertical-align: bottom;
	font-size: 10px;
	margin-top: 8mm;
}


.gpa-abc-table {
	width: 98%;
}

.gpa-abc-table td,
.gpa-abc-table th {
	border: solid 1px black;
}

.gpa-abc-table .gpa-abc-percent {
	width: 31%;
}

.gpa-abc-table .gpa-abc-gp {
	width: 33%;
}

.gpa-abc-table .gpa-abc-letter {
	width: 35%;
}

.gpa-abc-table td,
.gpa-abc-table th {
	text-align: center;
	vertical-align: middle;
	font-size: 9px;
}

.gpa-total-summary .gpa-summary-included-classes {
	font-size: x-small;
}

.gpa-total-summary .gpa-summary-upon {
	margin-top: 3mm;
	font-size: x-small;
}

.gpa-total-summary .gpa-footer-requirements {
	text-align: left;
	border: solid 2px black;
	font-size: x-small;
}

.gpa-total-summary .gpa-principal-signature {
	margin-top: 2mm;
	width: 98%;
	font-size: x-small;
}

.gpa-total-summary .gpa-principal-signature .signature-line {
	border-bottom: solid 1px black;
	width: 55%;
}
